.color0 {
	background-color: #BADA55;
}

.color1 {
	background-color: #C0FFEE;
}

.color2 {
	background-color: #G00GLE;
}

.color3 {
	background-color: #5AD;
}

.color4 {
	background-color: #F00;
}

.color5 {
	background-color: #0FF;
}

.color6 {
	background-color: #ACE;
}